body
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper
{
  background-color: #333;
  border-radius: 20px;
  width: auto;
  padding: 3rem;
}

.heading
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: whitesmoke;
}

.footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: whitesmoke;
}

/* icons (linkedin, github) */
.footer a
{
  margin-left: 1rem;
  color: #495057;
  text-align: center;
}
.list-social-icons a
{
  color: #495057;
}
  .list-social-icons a:hover
  {
    color: #393646;
  }


/*key text*/
.keys
{
  display: flex;
  text-transform: capitalize;
  color: darkgrey;
  font-weight: 300;

  justify-content: center;
  margin: 2rem auto;
}

/*white keys*/
.keys .white
{
  width: 5rem;
  height: 15rem;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
}
/*black keys*/
.keys .black
{
  width: 3rem;
  height: 9.6rem;
  margin: 0 -1.5rem;
  background: linear-gradient( #333 97%, black 3%);
  border-radius: 7px;

  z-index: 2;
}


/*keys when clicked or keypressed*/
.keys .white.active
{
  background: skyblue;
}
.keys .black.active
{
  background: skyblue;
}



/*SHOW KEYS*/


/*label*/
.heading h1
{
  margin-left: 5rem;
}


/*switch area*/
.switch
{
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  margin: 0 3px;
}

/*place switch into area, half as much*/
.slider
{
  position: absolute;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  margin-top: 0.9rem;
  background-color: #cdcdcd;
  border-radius: 30px;

  transition: 0.5s;
}


/*so we can hide checkbox*/
.switch input
{
  display: none;
}

/*ball for the slider (including its color, dimensions, and position*/
.slider:before
{
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;

  margin-top: 0.25rem;
  margin-left: 0.25rem;

  border-radius: 50px;
  background-color: whitesmoke;

  transition: 0.5s;

}

/*
  transition for when the toggle is clicked on/off
  use type= because in index.html, <input type="checkbox" checked>
*/
input[type=checkbox]:checked + .slider
{
  background-color:#777;
}

input[type=checkbox]:checked + .slider:before
{
  transform: translateX(1.5rem);
}



/*key letter text*/
.white span
{
  position: absolute;
  margin-top: 13rem;
  margin-left: 2.3rem;
  text-align: center;
}
.black span
{
  position: absolute;
  margin-top: 8rem;
  margin-left: 1.1rem;
}


/* Media queries */
@media (min-width: 350px) and (max-width: 575px) {
  /* Styles for even smaller screens */
  .wrapper
  {
    width: 30rem;
  }

  .keys .white
  {
    width: 2rem;
    height: 6rem;
  }

  .keys .black
  {
    width: 1.5rem;
    height: 4rem;
    margin: 0 -0.75rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 4.8rem;
    margin-left: 0.8rem;
    text-align: center;

    font-size: 10px;
  }
  .black span
  {
    position: absolute;
    margin-top: 2.75rem;
    margin-left: 0.5rem;

    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* Styles for smaller screens */
  .wrapper
  {
    width: 40rem;
  }

  .keys .white
  {
    width: 3rem;
    height: 10rem;
  }

  .keys .black
  {
    width: 2rem;
    height: 6.4rem;
    margin: 0 -1rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 8.5rem;
    margin-left: 1.25rem;
    text-align: center;
  }
  .black span
  {
    position: absolute;
    margin-top: 5rem;
    margin-left: 0.6rem;
  }

}

@media (min-width: 769px) and (max-width: 991px) {
  /* Styles for screens between 769px and 991px */
  .wrapper
  {
    width: 55rem;
  }

  .keys .white
  {
    width: 4rem;
    height: 12rem;
  }

  .keys .black
  {
    width: 2.5rem;
    height: 8rem;
    margin: 0 -1.25rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 10.5rem;
    margin-left: 1.7rem;
    text-align: center;
  }
  .black span
  {
    position: absolute;
    margin-top: 6rem;
    margin-left: 0.8rem;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for screens between 992px and 1199px */
  .wrapper
  {
    width: 70rem;
  }

  .keys .white
  {
    width: 4.5rem;
    height: 15rem;
  }

  .keys .black
  {
    width: 3rem;
    height: 9.75rem;
    margin: 0 -1.5rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 13rem;
    margin-left: 2rem;
    text-align: center;
  }
  .black span
  {
    position: absolute;
    margin-top: 8rem;
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Styles for screens between 1200px and 1399px */
  .wrapper
  {
    width: 90rem;
    height: 85vh;
  }

  .keys .white
  {
    width: 5.5rem;
    height: 20rem;
  }

  .keys .black
  {
    width: 3.5rem;
    height: 13rem;
    margin: 0 -1.75rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 18rem;
    margin-left: 2rem;
    text-align: center;

    font-size: 25px;
  }
  .black span
  {
    position: absolute;
    margin-top: 10rem;
    margin-left: 1rem;

    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  /* Styles for screens larger than 1400px */
  .wrapper
  {
    width: 150rem;
    height: 90vh;
  }

  .keys .white {
    width: 6rem;
    height: 22rem;
  }

  .keys .black {
    width: 4rem;
    height: 14.3rem;
    margin: 0 -2rem;
  }

  .white span
  {
    position: absolute;
    margin-top: 20rem;
    margin-left: 2.5rem;
    text-align: center;

    font-size: 20px;
  }
  .black span
  {
    position: absolute;
    margin-top: 12rem;
    margin-left: 1.4rem;

    font-size: 20px;
  }

  .footer
  {
    padding-top: 5rem;
  }
}





